.mybtn .button {
    background-color: orange;
    border: 1px solid green;
    width: 35%;
    color: black;
    font-size: 9px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: block;
 }
 .mybtn
 {
   visibility: visible;
 }
 #Buttons
 {
   margin-top: 15px;
 }
 .btn {
  width: 100%;
  height: auto;
  margin-bottom: 2px;
  line-height: 1.4;
  padding: 5px;
  font-size: 10px;
 }
 .dashed {
  border-style: dashed;
  border-color: black;
  background-color: transparent;
 }
 .sub1 {
   margin-left: 0px;
 }
 .btn:hover {
  filter: brightness(120%);
}